@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Slab&display=swa');

body{
  background-color:rgb(228, 240, 178); 
  font-family: 'Roboto Slab', serif;;
}

.nav{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#img-logo{
  margin-right:  15px;
}


.nav-list{
  display: flex;
  align-items: center;

  
}

li{
  list-style:none;
  border-style: solid;
  display: flex;
  align-items: center;
  padding: 7px;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
}

li:hover{
  background-color: white;
}

form{
  display: flex;
  flex-direction: column;
}


.input-itens{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}




/*
CSS REGISTRO DO CARD
*/

h4{
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 0px;
  padding: 0;
}

.section-cardCadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.exibe-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
  width: 25vw;
  height: 400px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;

}

#imagem-cadastro-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imagem-cadastro{
  min-width: auto;
  max-width: 100%;
  width: 50vw;
}


.set-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr{
  background-color: aliceblue;
  width: 100%;
}

.todos-os-filmes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  border-width: 1px;
  border-style:outset;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  box-shadow: 1px 1px 1px 1px;
}

input{
  border-width: 1px;
  border-style:outset;
  border-radius: 5px;
}