body{
  background-color: #f7e8ab;
}

.nav{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

li{
  list-style:none;
  border-style: solid;
  padding: 7px;
  border-width: 1px;
  border-radius: 10px;
}